input {
  max-width: 260px;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.5px;
  border: none;
  outline: none;
}